<h1> <%= @product.name %> </h1>
<%= form_with url: transfer_product_url, method: :patch do |f| %>
  <%= fields_for :stocks do |stock| %>
    <div class="col-auto mb-3">
      <%= stock.label :from%>
      <%= stock.collection_select(:location_id, Location.all, :id, :name, {}, class: 'form-select') %>
    </div>
    <div class="col-auto mb-3">
      <%= stock.label :to %>
      <%= stock.collection_select(:second_location_id, Location.all, :id, :name, {}, class: 'form-select') %>
    </div>
    <div class="col-auto mb-3">
      <%= stock.label :quantity %>
      <%= stock.number_field :quantity, class: 'form-control' %>
    </div>
  <% end %>
  <div class="col-auto">
    <%= f.submit type: 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>
