<%= render 'shared/stock_transfer_modal' %>
<div class="container">
  <div class="row">
    <div class="col-3 px-4 text-center">
      <% if @product.image.attached? %>
        <%= image_tag @product.image, class:'rounded', width: 150, height: 150, style: "object-fit: cover" %>
      <% else %>
        <%= image_tag 'placeholder.png', class:'rounded', width: 150, height: 150, style: "object-fit: cover" %>
      <% end %>
      <h1> <%= @product.name %> </h1>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to edit_product_path(@product), class:"button dropdown-item" do %>
              <%= icon('fa-solid', 'pen') %> Edit
            <% end %>
          </li>
          <li><%= link_to product_path(@product), class:"button dropdown-item", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <%= icon('fa-solid', 'trash-can') %> Delete
            <% end %>
          </li>
          <li>
            <!-- Button trigger modal -->
            <a href="#" class="button dropdown-item" data-bs-toggle="modal" data-bs-target="#stockTransferModal">
              <%= icon('fa-solid', 'truck-front') %> Transfer
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 px-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <strong> INFO </strong>
          </h5>
          <table class="table inventory-table">
            <tbody>
              <tr>
                <th> Description</th>
                <td><%= @product.description %></td>
              </tr>
              <tr>
                <th>SKU </th>
                <td><%= @product.sku %> </td>
              </tr>
              <tr>
                <th>Category</th>
                <td><%= @product.category&.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <strong> INVENTORY </strong>
          </h5>
          <table class="table inventory-table">
            <thead>
              <tr>
                <th scope="col">Location</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <% @product.stocks.each do |stock| %>
                <tr>
                  <td>
                    <%= stock.location.name %>
                  </td>
                  <td style="text-align: right">
                    <%= stock.quantity %>
                    <button type="button" class="btn btn-outline-primary btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal<%= stock.id %>">
                      <%= icon('fa-solid', 'pen') %>
                    </button>
                  </td>
                  <%= render 'shared/adjust_stock_modal', stock: stock %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
