<% @product.stocks.each do |stock| %>
  <%= render 'shared/adjust_stock_modal', stock: stock %>
<% end %>
<%= render 'shared/stock_transfer_modal' %>
<% @product.stock_adjustments.each do |stock_adjustment| %>
  <%= render 'shared/stock_adjustment_modal', stock_adjustment: stock_adjustment %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3 px-md-4 mb-3 text-center">
      <% if @product.image.attached? %>
        <%= image_tag @product.image, class:'rounded', width: 150, height: 150, style: "object-fit: cover" %>
      <% else %>
        <%= image_tag 'placeholder.png', class:'rounded', width: 150, height: 150, style: "object-fit: cover" %>
      <% end %>
      <h1> <%= @product.name %> </h1>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to edit_product_path(@product), class:"button dropdown-item" do %>
              <%= icon('fa-solid', 'pen') %> Edit
            <% end %>
          </li>
          <li><%= link_to product_path(@product), class:"button dropdown-item", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <%= icon('fa-solid', 'trash-can') %> Delete
            <% end %>
          </li>
          <li>
            <!-- Button trigger modal -->
            <a href="#" class="button dropdown-item" data-bs-toggle="modal" data-bs-target="#stockTransferModal">
              <%= icon('fa-solid', 'truck-front') %> Transfer
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 px-md-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <strong> INFO </strong>
          </h5>
          <table class="table inventory-table">
            <tbody>
              <tr>
                <th> Description</th>
                <td><%= @product.description %></td>
              </tr>
              <tr>
                <th>SKU </th>
                <td><%= @product.sku %> </td>
              </tr>
              <tr>
                <th>Category</th>
                <td><%= @product.category&.name %></td>
              </tr>
              <tr>
                 <th>QR Code</th>
                <td style='text-align: center'>
                <%= image_tag(@qrcode_png.to_data_url, size: '120x120') %><br>
                <%= link_to @qrcode_png.to_data_url,  class: 'btn btn-sm btn-outline-secondary mb-3', download: @product.name do %>
                  <%= icon('fa-solid', 'download') %>
                <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <strong> INVENTORY </strong>
          </h5>
          <table class="table inventory-table">
            <thead>
              <tr>
                <th scope="col">Location</th>
                <th scope="col">Low level</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @product.stocks.each do |stock| %>
                <tr>
                  <td>
                    <%= stock.location.name %>
                  </td>
                  <td>
                    <%= stock.low_level %>
                  </td>
                  <td>
                    <% if stock.low_stock? %>
                      <span class="badge rounded-pill text-bg-warning"><%= stock.quantity %></span>
                    <% else %>
                      <%= stock.quantity %>
                    <% end %>
                  </td>
                  <td style="text-align:right">
                    <%= link_to edit_stock_path(stock), class: "btn btn-outline-primary btn-sm ms-2" do %>
                      <%= icon('fa-solid', 'pen') %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <strong> STOCK HISTORY</strong>
          </h5>
          <table class="table table-hover inventory-table">
            <thead>
              <tr>
                <th scope="col">Location</th>
                <th scope="col">Quantity</th>
                <th scope="col">Reason</th>
              </tr>
            </thead>
            <tbody>
              <% @stock_adjustments.each do |stock_adjustment| %>
                <tr data-bs-toggle="modal" data-bs-target="#stockAdjustmentModal<%= stock_adjustment.id%>" style="cursor:pointer">
                  <td>
                    <%= stock_adjustment.location.name %>
                  </td>
                  <td>
                    <%= format_quantity_adjustment(stock_adjustment.quantity_diff) %>
                  </td>
                  <td>
                    <%= stock_adjustment.reason %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @stock_adjustments, theme: 'bootstrap-5', pagination_class: "pagination justify-content-end" %>
        </div>
      </div>
    </div>
  </div>
</div>
