 <nav class="col-md-2 bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to products_path, class: "nav-link link-dark" do %>
          <%= icon('fa-solid', 'dolly') %> Products
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to locations_path, class: "nav-link link-dark" do %>
          <%= icon('fa-solid', 'shop') %> Locations
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to categories_path, class: "nav-link link-dark" do %>
          <%= icon('fa-solid', 'folder-open') %> Categories
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_stock_transfer_path, class: "nav-link link-dark" do %>
          <%= icon('fa-solid', 'truck-arrow-right') %> Stock transfer
        <% end %>
      </li>
    </ul>
  </div>
</nav>
